@model string

<div class="w-100 mb-3 position-relative">
    <span class="w-100 border-bottom position-absolute top-50"></span>
    <span class="d-inline-block position-relative p-2 bg-white" style="left: 3vw">
        @Model
    </span>
</div>
