@using PersonalFinances.Models.DataTransferObjects
@model TransactionDto?

@{
    ViewBag.Title = "Add Transaction";
    Layout = "_Layout";
}

<h2>Add Transaction</h2>

<form asp-action="AddTransaction">
    <div class="my-3">
        <label asp-for="IsIncome" class="form-check-label">Transaction type</label>
        <select asp-for="IsIncome" asp-items="TransactionDto.IsIncomeOptions"></select>
        @* <span asp-validation-for="IsIncome" class="text-danger"></span> *@
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control"/>
        <label asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Category" class="form-control"/>
        <label asp-for="Category"></label>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="AmountEuro" class="form-control"/>
        <label asp-for="AmountEuro"></label>
        <span asp-validation-for="AmountEuro" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Reoccurrence"></label>
        <select asp-for="Reoccurrence" asp-items="TransactionDto.ReoccurrenceOptions"></select>
        <span asp-validation-for="Reoccurrence" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Transaction</button>
</form>
