@model PersonalFinances.Models.ViewModels.FinanceViewModel

@{
    ViewBag.Title = "Finances";
    Layout = "_Layout";
    
    var muteTextData = new ViewDataDictionary(ViewData)
    {
        ["tdClass"] = "text-muted"
    };
}

<h2>Finances</h2>

<a asp-action="AddTransaction" class="btn btn-primary my-3">Add Income or Expense</a>

<div class="timeline">
    <div class="timeline-content">
        <partial name="_TimelineHeader" model="Model.ExpectedTransactionGroupNextMonth.MonthYear" />
        <partial name="_Totals" model="Model.ExpectedTransactionGroupNextMonth" />
        <partial name="_TransactionTable" model="Model.ExpectedTransactionGroupNextMonth.Transactions" view-data="muteTextData" />
        
        @foreach (var group in Model.SortedTransactionGroups)
        {
            <partial name="_TimelineHeader" model="group.MonthYear"/>

            @if (group.IsCurrentMonth && Model.ExpectedTransactionsThisMonth.Any())
            {
                <partial name="_TransactionTable" model="Model.ExpectedTransactionsThisMonth" view-data="muteTextData" />
            }

            <partial name="_Totals" model="group" />
            <partial name="_TransactionTable" model="group.Transactions" />
        }
    </div>
</div>
