@model List<TransactionModel>

@{
    ViewBag.Title = "Analytics";
    Layout = "_Layout";
}

<h2>Analytics</h2>

<div id="chartContainer">
    <canvas id="chart"></canvas>
</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    <script>
      const ctx = document.getElementById('chart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
}