@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
    
    var welcomeMessage = "Welcome " + User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="text-center">
    <h1 class="display-4">@welcomeMessage</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>